<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.canonical }}">
    <meta property="og:site_name" content="Bit Bashing">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="https://assets.bitbashing.io/images/bitset.png">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css"}}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.canonical }}">
    <link rel="image_src" href="https://assets.bitbashing.io/images/bitset.png">
    <!-- I'm just curious to see who reads this stuff. -->
    <script defer data-domain="bitbashing.io" src="https://plausible.io/js/plausible.js"></script>
</head>
