/*
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    text-rendering: optimizeLegibility;
    font-family: $base-font-family;
    font-variant-ligatures: common-ligatures;
    font-kerning: normal;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1 {
    margin-bottom: $spacing-unit / 2;
}
h2, h3, h4, h5, h6 {
    margin-bottom: $spacing-unit * 1.5;
}

p {
    // Make Knuth proud, browsers
    text-align: justify;
    hyphens: auto;
}

p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
}



h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    margin-top: $spacing-unit * 2;
}

/**
 * rules
 * Borrowed from http://stackoverflow.com/a/6382036/713961
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    margin: 1em 0;
    padding: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    margin-bottom: $spacing-unit;
}

/**
 * Images
 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-size: $small-font-size;
    text-align: center;
}

/**
 * Tables
 */
table {
    border-collapse: collapse;
    margin-bottom: $spacing-unit;
}

thead {
    border-bottom: 2px solid $grey-color
}

th,td {
    padding-right: 2ex;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    text-align: left;
    line-height: 1;
}

h1 {
    font-size: $base-font-size * 1.8;
}

h2 {
    font-size: $base-font-size * 1.4;
}

h3 {
    font-size: $base-font-size * 1.1;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 20%);
    }

    &:hover {
        text-decoration: underline;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color;
    margin-left: 2em;
    margin-right: 2em;
    padding-left: 1ex;
    line-height: $base-line-height * 0.9;

    > :last-child {
        margin-bottom: 0;
    }
}

code {
    font-family: 'mononoki', monospace;
    // Don't use common ligatures on monospace...
    font-variant-ligatures: normal;
}

/**
 * Code formatting
 */
pre {
    overflow-x: auto;
    line-height: $base-line-height * 0.9;

    > code {
        font-size: $base-font-size * 0.9;
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Don't wrap code sections in a paragraph. Useful to avoid breaking -params
 */
p > code {
    // To roughly match x-heights with Equity:
    font-size: $base-font-size * 0.938;

    white-space: nowrap
}

/**
 * Wrapper
 */
.wrapper {
    max-width: calc(#{$max-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: calc(#{$max-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/*
 * Center any image that is a direct child of a link.
 * This should center standalone images without messing up other ones like
 * gfycat's control buttons.
 */
p > a > img,
p > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

