// See https://github.com/Khan/KaTeX/wiki/Font-Options#font-size

.equation {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  > .katex {
    font-size: 1.1em !important; // Make non-inline math _slightly_ bigger
  }
}

.inline-equation {
  > .katex {
    font-size: 1em !important;
  }
}
