@font-face {
    font-family: 'equity_text_a';
    src: url('https://assets.bitbashing.io/type/equity_ot_a_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'equity_text_a';
    src: url('https://assets.bitbashing.io/type/equity_ot_a_bold_italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'equity_text_a';
    src: url('https://assets.bitbashing.io/type/equity_ot_a_italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'equity_text_a';
    src: url('https://assets.bitbashing.io/type/equity_ot_a_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'equity_text_b';
    src: url('https://assets.bitbashing.io/type/equity_ot_b_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'equity_text_b';
    src: url('https://assets.bitbashing.io/type/equity_ot_b_bold_italic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'equity_text_b';
    src: url('https://assets.bitbashing.io/type/equity_ot_b_italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'equity_text_b';
    src: url('https://assets.bitbashing.io/type/equity_ot_b_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('https://assets.bitbashing.io/type/mononoki-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('https://assets.bitbashing.io/type/mononoki-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'mononoki';
    src: url('https://assets.bitbashing.io/type/mononoki-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'mononoki';
    src: url('https://assets.bitbashing.io/type/mononoki-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}
